.time_format_group
	.field
		= f.label :group_name
		%br
		= f.text_field :group_name
	 	
	.field
		= f.label :group_display_name 
		%br
		= f.text_field :group_display_name

	.field
		= f.label :start_time 
		%br
		= f.text_field :start_time
	
	.field
		= f.label :end_time 
		%br
		= f.text_field :end_time