<header>
  	<nav class="round">
    	<ul>
      		<li><%= link_to "Home", root_path %></li>
	
			<% if signed_in? and has_owner_privileges? %>
      			<li><%= link_to "Manage Golf Courses", admin_courses_path %></li>
      		<% elsif has_publisher_privileges? %>
      			<li><%= link_to "Manage Golf Times", admin_courses_path %></li>
			<% else %>
      			<li><%= link_to "View Golf Courses", courses_path %></li>
      		<% end %>


			<% if signed_in? and has_owner_privileges? %>
      			<li><%= link_to "Manage Users", admin_users_path %></li>
      		<% end %>


      		<% if signed_in? %>
      			<li><%= link_to "Sign out", signout_path, :method => :delete %></li>
      		<% else %>
      			<li><%= link_to "Sign in", signin_path %></li>
			<% end %>
			
			
			<% if not signed_in? %>
				<li><%= link_to "Sign up", signup_path %></li>
      		<% end %>
    	</ul>
  	</nav>
</header>